{% if editor_definition.name == "SunEditor" %}
    <div class="row mb-1">
        <figure class="col">
            <blockquote class="blockquote">
                <p>A lightweight and powerful WYSIWYG editor in vanilla JavaScript. No dependencies.</p>
            </blockquote>

            <figcaption class="blockquote-footer">
                <a href="https://github.com/JiHong88/suneditor" target="_blank">Repository</a>
            </figcaption>
        </figure>

        <div class="col">
            <p>
                SundEditor is a modern rich editor with a CKEditor alike
                experience. It is a standalone editor which does not require
                any external dependencies while perfectly able to work with
                vanilla JavaScript, React, etc..
            </p>
            <p>
                We included the version 3 (currently in beta stage).
            </p>
        </div>
    </div>
{% elif editor_definition.name == "TipTap" %}
    <div class="row mb-1">
        <figure class="col">
            <blockquote class="blockquote">
                <p>The headless rich text editor framework for web artisans.</p>
            </blockquote>

            <figcaption class="blockquote-footer">
                <a href="https://github.com/ueberdosis/tiptap" target="_blank">Repository</a>
            </figcaption>
        </figure>

        <div class="col">
            <p>
                TipTap is a modern rich editor based on ProseMirror. Extremely powerful
                and flexible but need some work to be properly implemented for a useful
                user experience.
            </p>
            <p>
                We included the version 3.
            </p>
        </div>
    </div>
{% endif %}
