// No bottom margin for basic elements last child of their container
// We assume their container should implement bottom margin itself to avoid annoying
// implicit margin
p:last-child,
li:last-child,
dd:last-child,
pre:last-child {
    margin-bottom: 0;
}
